{% load static %}

<section class="section py-0">
  <div class="container">
    <div class="row">
        <div class="col-12 col-md-8 offset-md-2 banner">
            <div class="banner-card">
              <div class="banner-holder"></div>
              <p class="banner-title banner-font text-center">
                Did you know we<br />also do Software?
              </p>
              <div class="banner-phone text-center">
                <div class="phone-group"><img class="phone-image img-fluid" src= "{% static 'assets/img/ZenPhone.png' %}" alt="ZenixION image" /></div>
              </div>
              <div class="banner-button text-center"><a href="https://www.zenixION.dev" target="_blank" class="btn btn-outline-secondary me-3 animate-up-2">Visit ZenixION <span class="ms-2"><span class="fas fa-arrow-right"></span></span></a></div>
              <img class="banner-pin img-fluid" src= "{% static 'assets/img/banner-pin.png' %}" alt="banner pin" />
            </div>
        </div>
    </div>
  </div>
</section>