{% load static %}

<footer class="footer pt-9 mt-n7 bg-custom text-white">
  <div class="container">
      <div class="row">
          <div class="col-md-4">
              <img class="navbar-brand-dark mb-4" height="75" src="{% static 'assets/img/transparentLogo.png' %}"
                  alt="Logo light">
          </div>
          <div class="col-6 col-md-2 mb-5 mb-lg-0">
              <span class="h5">Machinery Techniques</span>
              <ul class="footer-links mt-2">
                  <li><a href="{% url 'index' %}">About</a></li>
                  <li><a href="{% url 'about_us' %}">Services</a></li>
                  <li><a href="{% url 'what_we_do' %}">Products</a></li>
                  <li><a href="{% url 'contact_us' %}">Contact Us</a></li>
              </ul>
          </div>
          <div class="col-12 col-md-4 mb-5 mb-lg-0">
              <span class="h5 plain-h">Contact</span>
              <p class="text-muted font-small mt-2">Joshua Panettieri</p>
              <p class="text-muted font-small mt-2">Service Engineer</p>
              <p class="text-muted font-small mt-2">M. +61 (0)430-016527</p>
              <a class="text-white" href="mailto:joshua@mach-tech.com.au">E: joshua@mach-tech.com.au</a>
          </div>
      </div>
  </div>
</footer>