{% load static %}

<header class="header-global">
  {% if request.path == "/what-we-do/" or request.path == "/blank/" %}
  <nav id="navbar-main" aria-label="Primary navigation" class="navbar navbar-main navbar-expand-lg navbar-theme-primary headroom navbar-light bg-custom-light navbar-theme-secondary">
  {% else %}
  <nav id="navbar-main" aria-label="Primary navigation" class="navbar navbar-main navbar-expand-lg navbar-theme-primary headroom navbar-dark bg-custom-light navbar-theme-secondary">
  {% endif %}  
    <div class="container-fluid col-8">
      <a class="navbar-brand-big" href="#">
        <img src= "{% static 'assets/img/transparentLogo.png' %}" alt="New MT Logo"/>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link {% if request.path == '/' %} active{% endif %}" href="{% url 'index' %}">Overview</a>
          <a class="nav-link {% if request.path == '/about-us/' %} active{% endif %}" href="{% url 'about_us' %}">Services</a>
          <a class="nav-link {% if request.path == '/what_we_do/' %} active{% endif %}" href="{% url 'what_we_do' %}">Products</a>
          <a class="nav-link {% if request.path == '/contact-us/' %} active{% endif %}" href="{% url 'contact_us' %}">Contact</a>
        </div>
      </div>
    </div>
  </nav>
</header>