{% load static %}

<header class="header-global">
  {% if request.path == "/what-we-do/" or request.path == "/blank/" %}
  <nav id="navbar-main" aria-label="Primary navigation" class="navbar navbar-main navbar-expand-lg navbar-theme-primary headroom navbar-light bg-custom-light navbar-theme-secondary">
  {% else %}
  <nav id="navbar-main" aria-label="Primary navigation" class="navbar navbar-main navbar-expand-lg navbar-theme-primary headroom navbar-dark bg-custom-light navbar-theme-secondary">
  {% endif %}  
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="{% static 'assets/img/brand/longLogo.jpg' %}" alt="logo">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Overview</a>
          <a class="nav-link" href="{% url 'about_us' %}">Who we are</a>
          <a class="nav-link" href="{% url 'what_we_do' %}">What we do</a>
          <a class="nav-link" href="{% url 'contact_us' %}">Let's Connect</a>
        </div>
      </div>
    </div>
  </nav>
</header>