{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
    <main>
        <!-- Hero -->
        <section class="section section-md pb-0">
            <div class="container">
               <div class="row justify-content-between align-items-center">
                  <div class="col-12 col-md-7 col-lg-7 mb-4 text-center">
                        <h1 class="display-2 mt-4 mb-4">Services we off at<br>Machinery Techniques...</h1>
                        <p class="para mb-4">At Machinery Techniques, we specialize in providing a comprehensive range of solutions to meet your
                            equipment needs. Whether you require calibration, repairs, machine design, commissioning, or equipment
                            refurbishment, our team of experts are ready to help. We understand that each business has unique
                            requirements, and we strive to deliver personalized support to meet your specific needs. Read on to learn
                            more about our services and how we can help your business succeed. </p>
                        <a href="{% url 'contact_us' %}" class="btn btn-outline-secondary me-3 animate-up-2">Contact Us Today <span class="ms-2"><span class="fas fa-arrow-right"></span></span></a>
                    </div>
                    <div class="col-12 col-md-5 d-none d-md-block text-center">
                        <img class="bg-custom-light mt-2 mb-4" src="{% static 'assets/img/laserMachine.png' %}" alt="laser Machine">
                    </div>
               </div>
               <div class="row justify-content-between align-items-center">
                    <div class="col-12 col-md-6 d-none d-md-block text-center">
                        <img class="bg-custom-light mt-2 mb-4" src= "{% static 'assets/img/worker.png' %}" alt="worker">
                    </div>
                    <div class="col-12 col-md-7 col-lg-6 mb-4 text-center">
                        <p class="para mb-4">
                            We take pride in our strengths that set us apart from the competition. Our team is highly qualified to
                            service the equipment across our entire range, ensuring that we can assist with both new and old
                            machinery. We believe in transparency in our pricing, and we work closely with our customers to ensure
                            that they receive the best value for their investment. <br /><br />With over 10 years of experience, we
                            have developed a deep understanding of the industry and are well-equipped to provide reliable support with
                            a quick response time. Additionally, we understand the importance of daily machine start-ups and have long
                            office hours to ensure that we can assist with any urgent needs. <br /><br />You can trust Machinery Techniques
                            for unparalleled expertise and personalised support for all your equipment and service needs.
                        </p>
                    </div>
                </div>
                <div class="container">
                    <div class="row justify-content-center mb-0 mb-md-6">
                        <div class="col-4 col-md-3 text-center mb-5 mb-md-0">
                            <div class="mb-2 mb-md-3">
                                <div class="icon icon-shape icon-lg bg-pale shadow-lg rounded-circle mb-2">
                                    <span class="fas fa-drafting-compass text-eucalypt"></span>
                                    </div>                          
                            </div>                                 
                            <h2 class="h4 plain-h text-eucalypt">Calibrations & <br> Audits</h2>
                        </div>
                        <div class="col-4 col-md-3 text-center mb-5 mb-md-0">
                            <div class="mb-2 mb-md-3">
                                <div class="icon icon-shape icon-lg bg-pale shadow-lg rounded-circle mb-2">
                                    <span class="far fa-object-group text-eucalypt"></span>
                                    </div>  
                            </div>   
                            <h2 class="h4 plain-h text-eucalypt">Design & Commissioning</h2>
                        </div>
                        <div class="col-4 col-md-3 text-center mb-5 mb-md-0">
                            <div class="mb-2 mb-md-3">
                                <div class="icon icon-shape icon-lg bg-pale shadow-lg rounded-circle mb-2">
                                    <span class="fas fa-laptop-code text-eucalypt"></span>
                                    </div>  
                            </div>                             
                            <h2 class="h4 plain-h text-eucalypt">Refurbish &<br> Service</h2>
                        </div>
                        <div class="col-4 col-md-3 text-center mb-5 mb-md-0">
                            <div class="mb-2 mb-md-3">
                                <div class="icon icon-shape icon-lg bg-pale shadow-lg rounded-circle mb-2">
                                    <span class="fas fa-paper-plane text-eucalypt"></span>
                                </div>                                     
                            </div>
                            <h2 class="h4 plain-h text-eucalypt">Repairs &<br> Installations</h2>
                        </div>
                    </div>
                </div>
        <!-- End of section -->
        <!-- Section -->
        <section class="section bg-gray-200 section-md pb-0">
            <figure class="position-absolute top-0 left-0 w-100 d-none d-md-block mt-n3">
                <svg class="fill-gray-200" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1920 43.4" style="enable-background:new 0 0 1920 43.4;" xml:space="preserve">
                   <path d="M0,23.3c0,0,405.1-43.5,697.6,0c316.5,1.5,108.9-2.6,480.4-14.1c0,0,139-12.2,458.7,14.3 c0,0,67.8,19.2,283.3-22.7v35.1H0V23.3z"></path>
                </svg>
             </figure>
            <div class="container">
                <div class="row text-center">
                    <div class="col">
                        <h2 class="h1 fw-light text-eucalypt"><span class="fw-bold text-eucalypt">Our</span> Process</h2>
                    </div>
                </div>
                <div class="row justify-content-center mt-6">
                    <div class="row justify-content-center">
                        <div class="col-md-12 col-lg-8">
                            <div class="timeline timeline-one dark px-3 px-sm-0">
                                <!-- Timeline Item 1 -->
                                <div class="timeline-item">
                                    <h3 class="h4 mb-4 text-eucalypt">Planning</h3>
                                    <p class="text-eucalypt para">We work with you to understand your project goals and requirements, creating a roadmap for the development process.</p>
                                    <img class="img-rh" src="{% static 'assets/img/planning.png' %}" alt="planning">
                                </div>
                                <!-- Timeline Item 2 -->
                                <div class="timeline-item">
                                    <h3 class="h4 mb-4 text-eucalypt">Analysis</h3>
                                    <p class="text-eucalypt para">Our team conducts a thorough analysis of your business needs and user requirements to determine the most effective software solution.</p>
                                    <img class="img-lh" src="{% static 'assets/img/analyzing.png' %}" alt="analyzing">
                                </div>
                                <!-- Timeline Item 3 -->
                                <div class="timeline-item">
                                    <h3 class="h4 mb-4 text-eucalypt">Design</h3>
                                    <p class="text-eucalypt para">Our designers create a visually stunning and intuitive user interface that enhances the user experience.</p><br>
                                    <img class="img-rh" src="{% static 'assets/img/designing.png' %}" alt="designing">
                                </div>
                                <!-- Timeline Item 4 -->
                                <div class="timeline-item">
                                    <h3 class="h4 mb-4 text-eucalypt">Development</h3>
                                    <p class="text-eucalypt para">Our skilled developers utilize the latest technologies to develop a robust and scalable software solution.</p><br>
                                    <img class="img-lh" src="{% static 'assets/img/developing.png' %}" alt="development">
                                </div>
                                <!-- Timeline Item 5 -->
                                <div class="timeline-item">
                                    <h3 class="h4 mb-4 text-eucalypt">Testing</h3>
                                    <p class="text-eucalypt para">We ensure that the software is thoroughly tested for functionality, usability, and security to guarantee optimal performance.</p>
                                    <img class="img-rh" src="{% static 'assets/img/test_reports.png' %}" alt="testing">
                                </div>
                                <!-- Timeline Item 6 -->
                                <div class="timeline-item">
                                    <h3 class="h4 mb-4 text-eucalypt">Deployment</h3>
                                    <p class="text-eucalypt para">We deploy the software to your desired platform, providing support throughout the installation process.</p><br>
                                    <img class="img-lh" src="{% static 'assets/img/deployment.png' %}" alt="deployment">
                                </div>
                                <!-- Timeline Item 7 -->
                                <div class="timeline-item">
                                    <h3 class="h4 mb-4 text-eucalypt">Maintenance</h3>
                                    <p class="text-eucalypt para">Our team provides ongoing maintenance and support to ensure that the software remains up-to-date and fully functional.</p>
                                    <img class="img-rh" src="{% static 'assets/img/maintenance.png' %}" alt="Maintenance">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <figure class="position-absolute bottom-0 left-0 w-100 d-none d-md-block mb-n2">
                <svg class="fill-white" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1920 43.4" style="enable-background:new 0 0 1920 43.4;" xml:space="preserve">
                   <path d="M0,23.3c0,0,405.1-43.5,697.6,0c316.5,1.5,108.9-2.6,480.4-14.1c0,0,139-12.2,458.7,14.3 c0,0,67.8,19.2,283.3-22.7v35.1H0V23.3z"></path>
                </svg>
             </figure>
        </section>
        <!-- Section -->
        <section class="section section-lg">
            <div class="container">
                <div class="row mb-5 mb-lg-6">
                    <div class="col-12 col-md-9 col-lg-8 text-center mx-auto">
                        <h2 class="h1 mb-4 text-eucalypt">Fun Facts about ZenixION...</h2>
                        <p class="mb-4 para fw-bold text-eucalypt"> When every name under the sun is taken, you need to get creative... and with that ZenixION was born.</p>
                        <p class="text-eucalypt para fw-bold">Zen... <span class="text-eucalypt para fw-light"> A calmness and simplicity we try to bring to the project or problem being solved. 
                            <br> Why over complicate an already complicated task? </span></p>
                        <p class="text-eucalypt para fw-bold">ix... <span class="text-eucalypt para fw-light"> Chosen to represent both an Information Exchange and an Interactive Experience. 
                            <br>We strive to share as much of our knowledge along the way and make the process as interactive as you want. </span></p>
                        <p class="text-eucalypt para fw-bold">ION... <span class="text-eucalypt para fw-light">Focuses on the energy, power, and movement we bring to the project. <br> We want your idea to succeed or your problem to be squashed and to make it fun along the way!
                            </span></p>
                        <p class="mb-4 para fw-bold text-eucalypt">Together, the name was selected to give a sense of technological advancement and forward-thinking vision whilst maintaining our calm and methodical manner.</p>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-12 col-lg-8">
                        <!-- Contact Card -->
                        <div class="card border-0 p-2 p-md-3 p-lg-5">
                          <div class="card-header bg-white border-0 text-center">
                            <h2 class="plain-h text-eucalypt">Have a project in mind?</h2>
                            <h2 class="plain-h text-eucalypt">Need help with an issue?</h2>
                            <p class="text-eucalypt">Let’s talk about it and see how we can help.</p>
                          </div>
                          <div class="card-body plain-h2 px-0 pt-0">
                            <form method="post" action="{% url 'about_us' %}">
                              {% csrf_token %}
                              <!-- Form -->
                              <div class="mb-4">
                                <label for="name">Your Name</label>
                                <div class="input-group">
                                  <span class="input-group-text" id="basic-addon3"><span class="fas fa-user-circle text-eucalypt"></span></span>
                                  <input type="text" class="form-control" placeholder="e.g. John Smith" name="cname" id="cname" required>
                                </div>
                              </div>
                              <!-- End of Form -->
                              <!-- Form -->
                              <div class="mb-4">
                                <label for="email">Your Email</label>
                                <div class="input-group">
                                  <span class="input-group-text" id="basic-addon4"><span class="fas fa-envelope text-eucalypt"></span></span>
                                  <input type="email" class="form-control" placeholder="example@company.com" name="cemail" id="cemail" required>
                                </div>
                              </div>
                              <!-- End of Form -->
                              <div class="mb-4">
                                <label for="message">Your Message</label>
                                <textarea placeholder="Your message" class="form-control" name="cmessage" id="cmessage" rows="4" required></textarea>
                              </div>
                              <!-- End of Form -->
                              <div class="d-grid">
                                <button type="submit" name="contact_submit" id="contact_submit" class="btn rounded btn-primary">Let's Connect</button>
                              </div>
                            </form>
                          </div>
                        </div>
                        <!-- End of Contact Card -->
                    </div>
                </div>
            </div>
        </section>
        <!-- End of section -->
        <section class="section section-lg bg-gray-200">
            <figure class="position-absolute top-0 left-0 w-100 d-none d-md-block mt-n3">
                <svg class="fill-gray-200" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1920 43.4" style="enable-background:new 0 0 1920 43.4;" xml:space="preserve">
                   <path d="M0,23.3c0,0,405.1-43.5,697.6,0c316.5,1.5,108.9-2.6,480.4-14.1c0,0,139-12.2,458.7,14.3 c0,0,67.8,19.2,283.3-22.7v35.1H0V23.3z"></path>
                </svg>
             </figure>
             {% include 'includes/advert.html' %}
        </section>
    </main>
{% endblock content %}





