{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}

<main>

  {% include 'includes/pre-loader.html' %}

  <!-- Hero -->
  <section class="section-header overflow-hidden pt-7 pt-lg-8 pb-9 pb-lg-12 bg-custom text-eucalypt">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <div class="bootstrap-big-icon d-none d-lg-block">
            <svg xmlns="{% static 'assets/img/logoshort.jpg' %}" width="700" height="622" class="d-block my-1" viewBox="0 0 118 94"
              role="img">
              <title>ZenixION Software Solutions</title>
            </svg>
          </div>
          <h1 class="fw-bolder display-2">
            ZenixION...
          </h1>
          <h2 class="lead fw-normal text-muted mb-4">
            ...Relax while we do it for you. 
          </h2>
          <!-- Button Modal -->
          <div class="d-flex justify-content-center flex-column mb-6 mb-lg-5">
              <img src="{% static 'assets/img/logoshort.jpg' %}" class="d-block mx-auto mb-3" height="75" width="75"
                alt="Logo">
              <span class="text-muted font-small"> 
                &copy; ZenixION - by Joshua Panettieri.
              </span>
          </div>
        </div>
      </div>
    </div>
    <figure class="position-absolute bottom-0 left-0 w-100 d-none d-md-block mb-n2"><svg class="fill-custom"
        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 3000 185.4">
        <path d="M3000,0v185.4H0V0c496.4,115.6,996.4,173.4,1500,173.4S2503.6,115.6,3000,0z"></path>
      </svg></figure>
  </section>
    <div class="container mt-n10 mt-lg-n12 z-2">
      <div class="row justify-content-center">
        <div class="col-12 col-md-10"><img src="{% static 'assets/img/logoImage.jpg' %}" alt="Pixel Free Mockup"></div>
      </div>
    </div>
  </div>

  <section class="section bg-custom-light section-lg">
    <div class="container">
      <div class="row justify-content-center mb-5 mb-lg-6">
        <div class="col-6 col-md-3 text-center mb-4">
          <div class="icon icon-shape icon-lg bg-white shadow-lg border-light rounded-circle mb-4">
            <span class="fas fa-code-fork text-eucalypt"></span>
          </div>
          <h3 class="fw-bolder text-eucalypt">Flexible and Adaptable</h3>
          <p class="text-eucalypt">As the software development industry is constantly evolving, 
            we never stop training, so that we can adopt and adapt to new technologies 
            and changing business requirements as they arise. This requires a flexible approach to 
            software development and allows the ability to pivot quickly if required.</p>
        </div>
        <div class="col-6 col-md-3 text-center mb-4">
          <div class="icon icon-shape icon-lg bg-white shadow-lg border-light rounded-circle mb-4">
            <span class="fas fa-cogs text-eucalypt"></span>
          </div>
          <h3 class="fw-bolder text-eucalypt">Technical expertise</h3>
          <p class="text-eucalypt">We have a deep understanding of the latest technologies, programming 
            languages, and software development tools. This includes software architecture, development 
            methodologies, testing, and deployment.</p>
        </div>
        <div class="col-6 col-md-3 text-center">
          <div class="icon icon-shape icon-lg bg-white shadow-lg border-light rounded-circle mb-4">
            <span class="fas fa-commenting text-eucalypt"></span>
          </div>
          <h3 class="fw-bolder text-eucalypt">Strong Communication</h3>
          <p class="text-eucalypt">We believe good communication is critical to the success of any 
            software development project. We aspire to have strong communication skills ensuring 
            that we understand our client's needs and always communicate clearly and effectively 
            throughout the development process and beyond.</p>
        </div>
        <div class="col-6 col-md-3 text-center">
          <div class="icon icon-shape icon-lg bg-white shadow-lg border-light rounded-circle mb-4">
            <span class="fas fa-code text-eucalypt"></span>
          </div>
          <h3 class="fw-bolder text-eucalypt">Clean <br> Code </h3>
          <p class="text-eucalypt">We have a strong commitment to quality and a focus on delivering 
            high-quality software solutions. This includes a rigorous testing process, attention to detail, 
            and a dedication to delivering software that meets or exceeds the client's expectations.</p>
        </div>
      </div>
      <div class="row justify-content-between align-items-center mb-5 mb-lg-7">
        <div class="col-12 col-lg-5 mb-5 mb-lg-0 order-lg-2">
          <h2 class="h1 text-eucalypt">Made to fit...</h2>
          <p class="mb-4 lead fw-bold text-eucalypt">Don't settle for anything less than perfect!</p>
          <p class="mb-4 text-eucalypt">At ZenixION we will work with you to ensure what you end up with is a perfect fit, there is no such thing as settling here.</p>
          <a href="{% url 'contact_us' %}" target="_blank"
            class="btn btn-outline-primary text-eucalypt"><span class="fas fa-address-card me-2"></span> Get in touch</a>
        </div>
        <div class="col-12 col-lg-6 order-lg-1">
          <img src="{% static 'assets/img/illustrations/bs5-illustrations.svg' %}" alt="Front pages overview">
        </div>
      </div>
      <div class="row justify-content-between align-items-center mb-5 mb-lg-7">
        <div class="col-lg-5 mb-5 mb-lg-0">
          <h2 class="h1 d-flex align-items-center text-eucalypt">Start... To Finish... </h2>
          <p class="mb-4 lead fw-bold text-eucalypt">We strive for a podium finish!</p>
          <p class="mb-4 text-eucalypt">Ever had a project that got started and never really finished... each contributor blaming the next about why its delayed... Not us.
            At ZenixION we see the project through, in the rare case a project is too big for us to complete alone, we have a select team that can assist us to get the project 
            completed on time and to its full potential. 
          </p>
          <a href="{% url 'contact_us' %}" target="_blank"
            class="btn btn-outline-primary text-eucalypt"><span class="fas fa-address-card me-2"></span> Get in touch</a>
        </div>
        <div class="col-lg-6">
          <img src="{% static 'assets/img/sections-mockup.jpg' %}" alt="MapBox Leaflet.js Custom Integration Mockup">
        </div>
      </div>
      <div class="row justify-content-between align-items-center">
        <div class="col-12 col-lg-5 order-lg-2 mb-5 mb-lg-0">
          <h2 class="h1 d-flex align-items-center text-eucalypt">Consultation and Support...</h2>
          <p class="mb-4 lead fw-bold text-eucalypt">Need help knowing what you need help with?</p>
          <p class="mb-4 text-eucalypt">We adore unraveling conundrums, especially when the naysayers claim it's impossible. But hey, sometimes the real issue isn't the one 
            staring you in the face. With more than a decade of problem-seeking and solution-finding under our belt, we're here to assist you in unearthing the real challenge 
            and concocting a zany scheme to tackle it head-on. 
          </p>
            <a href="{% url 'contact_us' %}" target="_blank"
            class="btn btn-outline-primary text-eucalypt"><span class="fas fa-address-card me-2"></span> Get in touch</a>
        </div>
        <div class="col-12 col-lg-6 order-lg-1">
          <img src="{% static 'assets/img/presentation-mockup-dashboard.png' %}" alt="Dashboard Preview">
        </div>
      </div>
    </div>
  </section>

  <section class="section section-lg bg-custom">
    <div class="container">
      <div class="row justify-content-left">
        <div class="col-lg-12">
          <h1 class="display-3 text-left text-pale">Elevate Your Business...</h1>
            <h1 class="text-right text-pale"> Unleash the Power of Technology</h1>
          <p class="lead text-pale">Discover the extensive range of services that ZenixION can offer to assist you today!</p>
        </div>
      </div>
      <div class="row mt-6">
        <div class="col-md-4">
          <!-- Icon box -->
          <div class="icon-box text-center mb-5">
            <div class="icon">
              <span class="far fa-lightbulb text-pale"></span>
            </div>
            <h3 class="h5 my-3 text-pale">CUSTOM SOFTWARE</h3>
            <p class="text-pale">Get the software solution tailored to your unique business needs and requirements with our custom software services.</p>
          </div>
          <!-- End of Icon box -->
        </div>
        <div class="col-md-4">
          <!-- Icon box -->
          <div class="icon-box text-center mb-5">
            <div class="icon">
              <span class="fab fa-internet-explorer text-pale"></span>
            </div>
            <h3 class="h5 my-3 text-pale">WEB APPLICATIONS</h3>
            <p class="text-pale">Improve your online presence and boost your business with our 
              reliable and secure web application development services.
            </p>
          </div>
          <!-- End of Icon box -->
        </div>
        <div class="col-md-4">
          <!-- Icon box -->
          <div class="icon-box text-center mb-5">
            <div class="icon">
              <span class="fas fa-mobile-android-alt text-pale"></span>
            </div>
            <h3 class="h5 my-3 text-pale">MOBILE APPLICATIONS</h3>
            <p class="text-pale">Stay connected with your customers on-the-go and 
              increase your reach with our innovative mobile application development services.</p>
          </div>
          <!-- End of Icon box -->
        </div>
        <div class="col-md-4">
          <!-- Icon box -->
          <div class="icon-box text-center mb-5">
            <div class="icon">
              <span class="fas fa-cloud-upload text-pale"></span>
            </div>
            <h3 class="h5 my-3 text-pale">CLOUD SERVICES</h3>
            <p class="text-pale">Let us help reduce your IT infrastructure costs and increase your scalability with 
              flexible and cost-effective cloud services.</p>
          </div>
          <!-- End of Icon box -->
        </div>
        <div class="col-md-4">
          <!-- Icon box -->
          <div class="icon-box text-center mb-5">
            <div class="icon">
              <span class="fas fa-clipboard text-pale"></span>
            </div>
            <h3 class="h5 my-3 text-pale">SOFTWARE AUDITING</h3>
            <p class="text-pale">Ensure the security, compliance, and performance of your software systems with our 
              thorough and comprehensive software auditing services.</p>
          </div>
          <!-- End of Icon box -->
        </div>
        <div class="col-md-4">
          <!-- Icon box -->
          <div class="icon-box text-center mb-5">
            <div class="icon">
              <span class="fas fa-server text-pale"></span>
            </div>
            <h3 class="h5 my-3 text-pale">IT TRANSFORMATION</h3>
            <p class="text-pale">Transform your IT infrastructure and operations to meet the demands of the 
              digital age and drive business growth with our IT transformation services.</p>
          </div>
          <!-- End of Icon box -->
        </div>
        <div class="col-md-4">
          <!-- Icon box -->
          <div class="icon-box text-center">
            <div class="icon">
              <span class="fas fa-headset text-pale"></span>
            </div>
            <h3 class="h5 my-3 text-pale">SUPPORT & MAINTENANCE</h3>
            <p class="text-pale">Minimize downtime and keep your software systems running smoothly with our 
              reliable and responsive support and maintenance services.
            </p>
          </div>
          <!-- End of Icon box -->
        </div>
        <div class="col-md-4">
          <!-- Icon box -->
          <div class="icon-box text-center mb-5">
            <div class="icon">
              <span class="fas fa-tasks text-pale"></span>
            </div>
            <h3 class="h5 my-3 text-pale">PROJECT MANAGEMENT</h3>
            <p class="text-pale">Deliver successful projects on time and within budget with our experienced 
              and skilled project management services.
            </p>
          </div>
          <!-- End of Icon box -->
        </div>
        <div class="col-md-4">
          <!-- Icon box -->
          <div class="icon-box text-center mb-5">
            <div class="icon">
              <span class="fas fa-cogs text-pale"></span>
            </div>
            <h3 class="h5 my-3 text-pale">INTEGRATION SERVICES</h3>
            <p class="text-pale">Integrate your software systems seamlessly and unlock new capabilities with our 
              efficient and effective integration services.</p>
          </div>
          <!-- End of Icon box -->
        </div>
        <div class="col-md-12 d-flex justify-content-center">
          <a href="{% url 'contact_us' %}" target="_blank"
          class="btn btn-outline-secondary text-pale"><span class="fas fa-address-card me-2"></span> Get in touch</a>
        </div>
      </div>
    </div>
  </section>
  <section class="section section-lg line-bottom-soft">
    <div class="container">
      <div class="row justify-content-center mb-5 mb-lg-6">
        <div class="col-12 text-center">
          <h2 class="h1 px-lg-5">What's inside?</h2>
          <p class="lead px-lg-8">We have carefully crafted the perfect folder structure to ensure that
            finding the files you're looking for are easily reachable and well organized.</p>
        </div>
      </div>
      <div class="row d-flex align-items-center">
        <div class="col-12 col-lg-6 mb-4">
          <div class="d-none d-lg-block mt-5">
            <h3 class="text-center">You need only HTML, CSS and Javascript?</h3>
            <p class="lead mb-4">Don't worry, we got you covered. We have a folder called <code
                class="text-danger">html&css</code> which includes only the basic HTML5, CSS3 and
              Javascript technologies.</p>
            <a href="https://github.com/app-generator/django-theme-pixel" target="_blank"
              class="btn btn-md btn-secondary animate-up-2"><span class="fas fa-book me-2"></span> Docs</a>
          </div>
        </div>
        <div class="col-12 col-lg-6 order-lg-first d-flex justify-content-center">
          <ul class="d-block fmw-100 list-style-none folder-structure">
            <li data-bs-toggle="tooltip" data-bs-placement="left" title="Main folder that you will be working with">
              <span class="fas fa-folder me-2"></span>src</li>
            <li>
              <ul class="list-style-none ps-4">
                <li data-bs-toggle="tooltip" data-bs-placement="left" title="CSS, Images, Fonts and Javascript"><span
                    class="fas fa-folder me-2"></span> assets</li>
                <li data-bs-toggle="tooltip" data-bs-placement="left" title="HTML templates"><span
                    class="fas fa-folder me-2"></span> html</li>
                <li data-bs-toggle="tooltip" data-bs-placement="left"
                  title="Partials are HTML snippets that are included in multiple pages, such as the menu or footer">
                  <span class="fas fa-folder me-2"></span> partials
                </li>
                <li data-bs-toggle="tooltip" data-bs-placement="left" title="Sass source files">
                  <span class="fas fa-folder me-2"></span> scss
                </li>
                <li data-bs-toggle="tooltip" data-bs-placement="left"
                  title="The page you're looking at right now. Call it inception."><span
                    class="fab fa-html5 me-2 text-secondary"></span> index.html</li>
              </ul>
            </li>
            <li data-bs-toggle="tooltip" data-bs-placement="left" title="Pixel with only HTML, CSS and Javascript"><span
                class="fas fa-folder me-2 text-muted"></span> html&css</li>
            <li data-bs-toggle="tooltip" data-bs-placement="left"
              title="Temporary folder that is created when serving files with BrowserSync"><span
                class="fas fa-folder text-muted me-2"></span>.temp</li>
            <li data-bs-toggle="tooltip" data-bs-placement="left" title="Minified version of the project"><span
                class="fas fa-folder me-2 text-muted"></span> dist</li>
            <li data-bs-toggle="tooltip" data-bs-placement="left" title="Project dependencies from package.json"><span
                class="fas fa-folder text-muted me-2"></span> node_modules
            </li>
            <li data-bs-toggle="tooltip" data-bs-placement="left"
              title="Development workflow commands. We have them well documented."><span
                class="fab fa-js-square me-2 text-warning"></span> gulpfile.js</li>
            <li data-bs-toggle="tooltip" data-bs-placement="left" title="Project details and dependencies."><span
                class="fas fa-file-code me-2 text-tertiary"></span> package.json</li>
            <li data-bs-toggle="tooltip" data-bs-placement="left" title="No project can miss a README :)"><span
                class="fas fa-file-code me-2 text-tertiary"></span> README.md</li>
            <li data-bs-toggle="tooltip" data-bs-placement="left"
              title="This file ensures that generated files and folder are ignored by Git. (eg. node_modules)">
              <span class="fas fa-file-code me-2 text-tertiary"></span> .gitignore
            </li>
          </ul>
        </div>
        <div class="col-12 mt-5 d-lg-none">
          <h3 class="h5">You need only HTML, CSS and Javascript?</h3>
          <p>Don't worry, we got you covered. We have a folder called <code class="text-danger">html&css</code> which
            includes only the basic HTML5, CSS3 and
            Javascript technologies.</p>
        </div>
      </div>
    </div>
  </section>
  <section class="section section-lg bg-custom">
    <div class="container">
      <div class="row justify-content-center text-center text-eucalypt">
        <div class="col-lg-10 col-xl-12">
          <h2 class="fw-light mb-4">WCAG 2.1 accessible <span class="fw-bold">color scheme</span></h2>
          <p class="lead">
            We've enhanced Bootstrap’s color settings <br> to comply with the latest accessibility
            standards
          </p>
        </div>
      </div>
      <div class="row mt-4 mt-lg-6">
        <div class="col-md-6 col-sm-6 col-lg-3">
          <div class="card shadow-soft border-soft bg-gray-200 p-5 text-center mb-4">
            <div class="color-shape rounded bg-custom m-auto"></div>
            <div class="mt-4">
              <h2 class="h5 text-dark">Primary:</h2>
              <span class="fw-bold text-primary">#174F84</span>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-lg-3">
          <div class="card shadow-soft border-soft bg-gray-200 p-5 text-center mb-4">
            <div class="color-shape rounded bg-custom m-auto"></div>
            <div class="mt-4">
              <h2 class="h5 text-dark">Secondary:</h2>
              <span class="fw-bold text-secondary">#10AB7C</span>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-lg-3">
          <div class="card shadow-soft border-dark bg-custom p-5 text-center mb-4">
            <div class="color-shape rounded bg-custom m-auto"></div>
            <div class="mt-4 text-eucalypt">
              <h2 class="h5">Tertiary:</h2>
              <span class="fw-bold text-eucalypt">#FF7F66</span>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-lg-3">
          <div class="card shadow-soft border-dark bg-custom p-5 text-center mb-4">
            <div class="color-shape rounded bg-info m-auto"></div>
            <div class="mt-4 text-eucalypt">
              <h2 class="h5">Info:</h2>
              <span class="fw-bold text-eucalypt">#1E90FF</span>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-lg-3">
          <div class="card shadow-soft border-dark bg-custom p-5 text-center mb-4">
            <div class="color-shape rounded bg-warning m-auto"></div>
            <div class="mt-4 text-eucalypt">
              <h2 class="h5">Warning:</h2>
              <span class="fw-bold text-eucalypt">#F5B759</span>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-lg-3">
          <div class="card shadow-soft border-dark bg-custom p-5 text-center mb-4">
            <div class="color-shape rounded bg-success m-auto"></div>
            <div class="mt-4 text-eucalypt">
              <h2 class="h5">Success:</h2>
              <span class="fw-bold text-eucalypt">#00BF9A</span>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-lg-3">
          <div class="card shadow-soft border-dark bg-custom p-5 text-center mb-4">
            <div class="color-shape rounded bg-danger m-auto"></div>
            <div class="mt-4 text-eucalypt">
              <h2 class="h5">Danger:</h2>
              <span class="fw-bold text-eucalypt">#FA5252</span>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-lg-3">
          <div class="card shadow-soft border-soft bg-gray-200 p-5 text-center mb-4">
            <div class="color-shape rounded bg-dark m-auto"></div>
            <div class="mt-4">
              <h2 class="h5 text-dark">Dark:</h2>
              <span class="fw-bold text-dark">#2A354F</span>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-lg-3">
          <div class="card shadow-soft border-dark bg-custom p-5 text-center mb-4">
            <div class="color-shape rounded bg-gray-300 m-auto"></div>
            <div class="mt-4 text-eucalypt">
              <h2 class="h5">Light:</h2>
              <span class="fw-bold text-light">#DDE1ED</span>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-lg-3">
          <div class="card shadow-soft border-dark bg-custom p-5 text-center mb-4">
            <div class="color-shape rounded bg-gray-200 m-auto"></div>
            <div class="mt-4 text-eucalypt">
              <h2 class="h5">Soft:</h2>
              <span class="fw-bold text-light">#EFF2F5</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section section-lg bg-custom-light">
    <div class="container">
      <div class="row justify-content-center text-center text-dark mb-5">
        <div class="col-lg-9 col-xl-8">
          <h2 class="h1 fw-light text-eucalypt mb-3">Less <span class="fw-bold text-eucalypt">pain</span>, more <span class="fw-bold text-eucalypt">gain</span>.
          </h2>
          <p class="lead text-eucalypt">
            Boost productivity with BrowserSync. SCSS changes are reflected instantly and pages scroll
            and refresh on devices as you work.
          </p>
        </div>
      </div>
      <div class="row justify-content-center mb-6">
        <div class="col-md-10 col-xl-9">
          <div class="position-relative">
            <div class="rounded bg-custom p-4 text-pale mb-2">
              <div class="mb-3">
                <div class="fw-normal">&gt; $ npm install</div>
                <div class="text-muted">Everything’s installed!</div>
              </div>
              <div class="mb-3">
                <div class="fw-normal">&gt; $ gulp</div>
                <div class="text-muted">SCSS watching</div>
                <div class="text-muted">LiveReload started</div>
                <div class="text-muted">Opening localhost:3000</div>
              </div>
              <div>
                <div class="fw-normal">&gt; $ that's it?</div>
                <div class="text-muted">It's that simple!</div>
              </div>
            </div>
          </div>
          <div class="alert bg-custom text-pale position-relative mt-4"><span class="fas fa-question-circle me-2"></span>
            Looks unfamiliar? Don’t worry! Our <a class="text-pale fw-bold text-underline"
              href="https://github.com/app-generator/django-theme-pixel"
              target="_blank">documentation</a> has got you covered.</div>
        </div>
      </div>
    </div>
  </section>
</main>

{% endblock content %}