{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}

<main>
  {% include 'includes/navigation.html' %}
  <!-- Hero -->
  <body style="margin: 0; background: #000000">
    <input type="hidden" id="anPageName" name="page" value="about" />
    <div class="mt-8 container-center-horizontal">
      <div class="about screen">
        <div class="overlap-group8">
          <div class="flex-row">
            <div class="flex-col">
              <div class="overlap-group9">
                <p class="for-all-your-sales-and-service-needs banner-font">
                  For All Your Sales and Service Needs!
                </p>
                <p class="committed-to-bringin dmsans-bold-wild-sand-26px">
                  COMMITTED TO BRINGING YOU THE BEST PRODUCTS WITH SERVICE AND SUPPORT TO MATCH!
                </p>
              </div>
              <div class="frame-3"><div class="contact-us-today dmsans-bold-black-20px">Contact Us Today!</div></div>
            </div>
            <img class="mixed-suppliers" src= "{% static 'assets/img/mixed-suppliers.png' %}" alt="Mixed Suppliers" />
          </div>
        </div>
        <div class="flex-row-1">
          <div class="meet-our-suppliers banner-font">Meet Our Suppliers...</div>
          <div class="discover-more">Discover more</div>
        </div>
        <div class="frame-container">
          <div class="frame-12">
            <div class="overlap-group3">
              <img class="ndc-logo-1 ndc-logo" src="{% static 'assets/img/ndc-logo-1-2.svg' ' %}" alt="NDC logo 1" />
              <div class="nordson-ndc dmsans-bold-white-32px">Nordson (NDC) -</div>
            </div>
            <div class="beta-lasermike dmsans-bold-white-32px">Beta Lasermike</div>
            <p class="precision-control-fo-1 precision-control-fo-3 dmsans-bold-wild-sand-18px">
              Precision control for all your length, OD, ID and WALL applications.
            </p>
          </div>
          <div class="frame-11">
            <div class="overlap-group-2">
              <div class="pwm-pressure-welding dmsans-bold-white-32px">PWM - <br />Pressure Welding</div>
              <img class="ndc-logo-2 ndc-logo" src="{% static 'assets/img/ndc-logo-2.svg' ' %}" alt="NDC logo 2" />
            </div>
            <p class="precision-control-fo dmsans-bold-wild-sand-18px">
              Precision control for all your length, OD, ID and WALL applications.
            </p>
          </div>
          <div class="frame-11-1">
            <div class="overlap-group4">
              <img class="ndc-logo-1 ndc-logo" src="{% static 'assets/img/ndc-logo-1.svg' ' %}" alt="NDC logo 1" />
              <div class="cimteq-cable-design dmsans-bold-white-32px">Cimteq - <br />Cable Design</div>
            </div>
            <p class="precision-control-fo-3 dmsans-bold-wild-sand-18px">
              Precision control for all your length, OD, ID and WALL applications.
            </p>
          </div>
          <div class="frame-12-1">
            <div class="overlap-group5">
              <div class="estun-servo-motors dmsans-bold-white-32px">Estun - <br />Servo Motors</div>
              <img class="ndc-logo-1 ndc-logo" src= "{% static 'assets/img/ndc-logo-1-1.svg' ' %}" alt="NDC logo 1" />
            </div>
            <p class="precision-control-fo dmsans-bold-wild-sand-18px">
              Precision control for all your length, OD, ID and WALL applications.
            </p>
          </div>
        </div>
        <h1 class="title banner-font">With over 10yrs Experience...</h1>
        <div class="frame-container-1 frame-container-5">
          <div class="frame-3846">
            <div class="overlap-group">
              <div class="overlap-group-1">
                <img class="fa6-brandsethereum" src= "{% static 'assets/img/fa6-brands-ethereum.svg' %}" alt="fa6-brands:ethereum" />
                <div class="rectangle-281"></div>
              </div>
              <img class="rectangle-275" src= "{% static 'assets/img/rectangle-275-2@2x.png' %}" alt="Rectangle 275" />
            </div>
            <div class="flex-col-1">
              <div class="technical-sales dmsans-bold-white-32px">Technical Sales:</div>
              <p class="mach-tech-offers-exc dmsans-bold-wild-sand-18px">
                Mach tech offers exceptional technical sales expertise. With over a decade of experience, our team
                understands the equipment and tools necessary for success. Let us provide personalized support tailored
                to your unique needs in equipment.<br /><br />
                Contact us today to learn more.
              </p>
              <div class="frame-3-1">
                <div class="contact-sales contact-1 dmsans-bold-black-20px">Contact Sales</div>
              </div>
            </div>
          </div>
          <div class="frame-3847">
            <div class="overlap-group">
              <div class="overlap-group-1">
                <img class="fa6-brandsethereum" src= "{% static 'assets/img/fa6-brands-ethereum-1.svg' %}" alt="fa6-brands:ethereum" />
                <div class="rectangle-281"></div>
              </div>
              <img class="rectangle-275" src= "{% static 'assets/img/rectangle-275-3@2x.png' %}" alt="Rectangle 275" />
            </div>
            <div class="flex-col-2">
              <div class="service dmsans-bold-white-32px">Service:</div>
              <p class="choose-mach-tech-for dmsans-bold-wild-sand-18px">
                <span class="dmsans-bold-wild-sand-18px"
                  >Choose Mach tech for expert technical sales and service. With over a decade of experience, our team
                  offers unparalleled expertise in equipment maintenance, installation, repairs, and calibration. Let us
                  help you succeed and remain running! <br /><br />Contact us today to learn more.</span
                >
              </p>
              <div class="frame-4">
                <div class="contact-service contact-1 dmsans-bold-black-20px">Contact Service</div>
              </div>
            </div>
          </div>
        </div>
        <div class="frame-3849">
          <div class="our-strengths banner-font">Our Strengths...</div>
          <div class="overlap-group7 dmsans-bold-white-20px">
            <div class="overlap-group2">
              <div class="overlap-group1">
                <div class="overlap-group-3">
                  <div class="full-service-experts dmsans-bold-white-26px">Full Service Experts</div>
                  <img class="tick-1 tick" src= "{% static 'assets/img/tick-2@2x.png' %}" alt="tick 1" />
                </div>
                <img class="tick-2 tick" src= "{% static 'assets/img/tick-2@2x.png' %}" alt="tick 2" />
                <img class="tick-2-1 tick-2-4" src= "{% static 'assets/img/tick-2@2x.png' %}" alt="tick 2" />
                <img class="tick-2-2 tick-2-4" src= "{% static 'assets/img/tick-2@2x.png' %}" alt="tick 2" />
                <img class="tick-2-3 tick-2-4" src= "{% static 'assets/img/tick-2@2x.png' %}" alt="tick 2" />
                <div class="frame-3851">
                  <div class="transparent dmsans-bold-white-26px">Transparent</div>
                  <p class="quotes-supplied-dire dmsans-bold-white-20px">
                    Quotes supplied direct from the manufacturer without local mark ups.
                  </p>
                </div>
                <div class="experienced dmsans-bold-white-26px">Experienced</div>
                <div class="frame-3853">
                  <div class="affordable dmsans-bold-white-26px">Affordable</div>
                  <p class="surname dmsans-bold-white-20px">
                    Best prices guaranteed, allowing customers to purchase direct from the supplier, cutting out the
                    middle man mark ups.
                  </p>
                </div>
                <div class="reliable dmsans-bold-wild-sand-26px">Reliable</div>
              </div>
              <p class="hundreds-of-systems">
                Hundreds of systems installed and commissioned across Australia and New Zealand.
              </p>
              <p class="we-dont-dump-and-run">
                We dont dump and run, we are there to hel you set up your new equipment and keep it running for years to
                come.
              </p>
            </div>
            <p class="trained-in-service-a">
              Trained in service and calibration of all equipment we sell and have sold previously.
            </p>
          </div>
        </div>
        <p class="a-few-places-we-shine banner-font">A Few Places We Shine...</p>
        <div class="frame-container-2 frame-container-5">
          <div class="frame-3850">
            <img class="rectangle-275-1 rectangle-275-4" src= "{% static 'assets/img/rectangle-275@2x.png' %}" alt="Rectangle 275" />
            <div class="place place-2 dmsans-bold-white-40px">Cable</div>
          </div>
          <div class="frame-3851-1">
            <img class="rectangle-275-2 rectangle-275-4" src= "{% static 'assets/img/rectangle-275-4@2x.png' %}" alt="Rectangle 275" />
            <div class="wire dmsans-bold-white-40px">Wire</div>
          </div>
          <div class="frame-3852">
            <img class="rectangle-275-2 rectangle-275-4" src= "{% static 'assets/img/rectangle-275-5@2x.png' %}" alt="Rectangle 275" />
            <div class="pipe-tube-hose dmsans-bold-white-32px">Pipe, Tube, Hose</div>
          </div>
          <div class="frame-3853-1">
            <img class="rectangle-275-1 rectangle-275-4" src= "{% static 'assets/img/rectangle-275-8@2x.png' %}" alt="Rectangle 275" />
            <div class="steel dmsans-bold-white-40px">Steel</div>
          </div>
        </div>
        <div class="frame-container-3 frame-container-5">
          <div class="frame-3854">
            <img class="rectangle-275-3 rectangle-275-4" src= "{% static 'assets/img/rectangle-275-1@2x.png' %}" alt="Rectangle 275" />
            <div class="mining dmsans-bold-white-40px">Mining</div>
          </div>
          <div class="frame-38">
            <img class="rectangle-275-2 rectangle-275-4" src= "{% static 'assets/img/rectangle-275-7@2x.png' %}" alt="Rectangle 275" />
            <div class="meteorology dmsans-bold-white-40px">Meteorology</div>
          </div>
          <div class="frame-3856">
            <img class="rectangle-275-2 rectangle-275-4" src= "{% static 'assets/img/rectangle-275-10@2x.png' %}" alt="Rectangle 275" />
            <div class="medical dmsans-bold-white-40px">Medical</div>
          </div>
          <div class="frame-3857">
            <img class="rectangle-275-1 rectangle-275-4" src= "{% static 'assets/img/rectangle-275-11@2x.png' %}" alt="Rectangle 275" />
            <div class="scientific dmsans-bold-white-40px">Scientific</div>
          </div>
        </div>
        <div class="frame-container-4 frame-container-5">
          <div class="frame-3860">
            <img class="rectangle-275-3 rectangle-275-4" src= "{% static 'assets/img/rectangle-275-12@2x.png' %}" alt="Rectangle 275" />
            <div class="timber-paper dmsans-bold-white-32px">Timber &amp; Paper</div>
          </div>
          <div class="frame-38">
            <img class="rectangle-275-2 rectangle-275-4" src= "{% static 'assets/img/rectangle-275-13@2x.png' %}" alt="Rectangle 275" />
            <div class="place-1 place-2 dmsans-bold-white-40px">Gypsum</div>
          </div>
          <div class="frame-3862">
            <img class="rectangle-275-2 rectangle-275-4" src= "{% static 'assets/img/rectangle-275-6@2x.png' %}" alt="Rectangle 275" />
            <div class="automotive dmsans-bold-white-40px">Automotive</div>
          </div>
          <div class="frame-3863">
            <img class="rectangle-275-1 rectangle-275-4" src= "{% static 'assets/img/rectangle-275-9@2x.png' %}" alt="Rectangle 275" />
            <div class="qa-qc dmsans-bold-white-40px">QA &amp; QC</div>
          </div>
        </div>
        <div class="banner">
          <div class="banner-card">
            <div class="banner-holder"></div>
            <p class="banner-title banner-font">
              Did you know we<br />also do Software?
            </p>
            <div class="banner-phone">
              <div class="phone-group"><img class="phone-image" src= "{% static 'assets/img/ZenPhone.png' %}" alt="Mask group" /></div>
            </div>
            <div class="banner-button"><div class="visit dmsans-bold-white-20px">Visit</div></div>
            <img class="banner-pin" src= "{% static 'assets/img/banner-pin@2x.png' %}" alt="untitled 7" />
          </div>
        </div>
      </div>
    </div>
  </body>
  {% include 'includes/footer.html' %}
</main>

{% endblock content %}