{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
    <main>
        <!-- Hero -->
        <section class="section-header bg-gray-200 text-white">
            <div class="container">
                <div class="col-12 d-none d-md-block">
                    <h1 class="col-12 display-2 mt-4 mb-4">Explore Some Of Our Products...</h1>
                    <p class="lead text-center mb-4">At Machinery Techniques, we understand that 
                        having access to the right equipment is crucial to your business success. That's why we offer a 
                        wide range of products that are designed to meet the needs of various industries.</p>
                    <p class="lead text-center mb-4">From cutting-edge machinery to industry-standard equipment, we have everything you need to 
                        improve your operations and increase efficiency. Our team of experts is dedicated to providing 
                        exceptional support to help you find the right product that meets your unique needs.</p>
                    <p class="lead text-center">Read on to see our products and how we can help your business thrive.</p>
                </div>
            </div>
            <figure class="position-absolute bottom-0 left-0 w-100 d-none d-md-block mb-n2">
                <svg class="fill-black" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1920 43.4" style="enable-background:new 0 0 1920 43.4;" xml:space="preserve">
                   <path d="M0,23.3c0,0,405.1-43.5,697.6,0c316.5,1.5,108.9-2.6,480.4-14.1c0,0,139-12.2,458.7,14.3 c0,0,67.8,19.2,283.3-22.7v35.1H0V23.3z"></path>
                </svg>
             </figure>
        </section>
        <!-- End of Hero section -->
        <!-- Cards of products -->
        <section class="section section-md pb-0">
            <div class="container mb-6">
                <div class="accordion" id="accordionProducts">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                              NDC - Beta LaserMike
                          </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionProducts">
                            <div class="accordion-body">
                                <div class="row mb-5">
                                    <div class="col-12 col-md-6 col-lg-4 mb-5 mb-lg-0">
                                        <div class="card shadow">
                                            <img src= "{% static 'assets/img/4axis.png' %}" alt="Accuscan 6000" class="card-img-top rounded-top">
                                            <div class="card-body">
                                                <h3 class="h5 card-title mt-3">Accuscan 6000 Series</h3>
                                                <p class="card-text">The industry's only four-axis scanning diameter & ovality gauge, 
                                                    providing the highest accuracy to ensure your products meet the tightest design and quality specifications.</p>
                                                <a href="{% static 'assets/pdf/AccuScan6000.pdf' %}" target="_blank" class="btn btn-outline-secondary me-3 animate-up-2">Learn More</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-4 mb-5 mb-lg-0">
                                        <div class="card shadow">
                                            <img src= "{% static 'assets/img/2axis.png' %}" alt="2axis" class="card-img-top rounded-top">
                                            <div class="card-body">
                                                <h3 class="h5 card-title mt-3">AccuScan 5000 Series</h3>
                                                <p class="card-text">Ultra-fast, two-axis scanning provides highly accurate, reliable diameter measurements for producing 
                                                    premium quality products in less time and with less waste.</p>
                                                <a href="{% static 'assets/pdf/AccuScan.pdf' %}" target="_blank" class="btn btn-outline-secondary me-3 animate-up-2">Learn More</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-4 mb-5 mb-lg-0">
                                        <div class="card shadow">
                                            <img src= "{% static 'assets/img/benchmike.png' %}" alt="benchmike" class="card-img-top rounded-top">
                                            <div class="card-body">
                                                <h3 class="h5 card-title mt-3">BenchMike Pro</h3>
                                                <p class="card-text">The Industry's Leading High-Accuracy, Off-Line Diameter & Ovality Measurement System.
                                                    Fast, precise and repeatable ID/OD/Wall/Ovality measurements of cut product samples.</p>
                                                <div class="dropdown">
                                                    <button class="btn btn-outline-secondary me-3 animate-up-2">Learn More</button>
                                                    <div class="dropdown-content">
                                                        <a href="{% static 'assets/pdf/BenchMikePipeTube.pdf' %}" target="_blank" class="btn btn-outline-secondary me-3 animate-up-2">Pipe & Tube</a>
                                                        <a href="{% static 'assets/pdf/BenchMikeWireCable.pdf' %}" target="_blank" class="btn btn-outline-secondary me-3 animate-up-2">Wire & Cable</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-4 mb-5 mb-lg-0">
                                        <div class="card shadow">
                                            <img src= "{% static 'assets/img/activescan.png' %}" alt="activescan" class="card-img-top rounded-top">
                                            <div class="card-body">
                                                <h3 class="h5 card-title mt-3">ActiveScan</h3>
                                                <p class="card-text">Non-Contact, Motion-Based Diameter and Ovality Gauge for Unique Profile Measurements.
                                                    Precisely measure any unique product profile with the highest precision for faster product changeovers, higher productivity and greater profits.</p>
                                                <a href="{% static 'assets/pdf/ActiveScan.pdf' %}" target="_blank" class="btn btn-outline-secondary me-3 animate-up-2">Learn More</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-4 mb-5 mb-lg-0">
                                        <div class="card shadow">
                                            <img src= "{% static 'assets/img/capscan.png' %}" alt="capscan" class="card-img-top rounded-top">
                                            <div class="card-body">
                                                <h3 class="h5 card-title mt-3">CapScan</h3>
                                                <p class="card-text">Drift-Free, In-Process Capacitance Measurement System.
                                                    Realize greater accuracy and consistency between in-process and post-process capacitance measurements to increase quality yields and product output.</p>
                                                <a href="{% static 'assets/pdf/CapScan.pdf' %}" target="_blank" class="btn btn-outline-secondary me-3 animate-up-2">Learn More</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-4 mb-5 mb-lg-0">
                                        <div class="card shadow">
                                            <img src= "{% static 'assets/img/centerscan.png' %}" alt="centerscan" class="card-img-top rounded-top">
                                            <div class="card-body">
                                                <h3 class="h5 card-title mt-3">CenterScan 2010</h3>
                                                <p class="card-text">Non-Contact Eccentricity Measurement system.
                                                    Accurately, reliably measure the insulation diameter and conductor eccentricity of your wire and cable to maximize product quality and reduce production scrap.</p>
                                                <a href="{% static 'assets/pdf/CenterScan2010.pdf' %}" target="_blank" class="btn btn-outline-secondary me-3 animate-up-2">Learn More</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-4 mb-5 mb-lg-0">
                                        <div class="card shadow">
                                            <img src= "{% static 'assets/img/incontrol.png' %}" alt="incontrol" class="card-img-top rounded-top">
                                            <div class="card-body">
                                                <h3 class="h5 card-title mt-3">InControl</h3>
                                                <p class="card-text">The Latest in Advanced Process Visualization and Control.
                                                    Precisely, efficiently monitor BETA LaserMike gauges and control production processes to drive quality manufacturing.</p>
                                                <a href="{% static 'assets/pdf/InControl35.pdf' %}" target="_blank" class="btn btn-outline-secondary me-3 animate-up-2">Learn More</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-4 mb-5 mb-lg-0">
                                        <div class="card shadow">
                                            <img src= "{% static 'assets/img/laserspeed.png' %}" alt="laserspeed" class="card-img-top rounded-top">
                                            <div class="card-body">
                                                <h3 class="h5 card-title mt-3">LaserSpeed Pro</h3>
                                                <p class="card-text">Measure the Length and Speed of Any Moving Product with the Highest Laser Precision.
                                                    Replace your error-prone contact encoders with a laser precision gauge and begin realizing immediate production savings.</p>
                                                <div class="dropdown">
                                                    <button class="btn btn-outline-secondary me-3 animate-up-2">Learn More</button>
                                                    <div class="dropdown-content">
                                                        <a href="{% static 'assets/pdf/LaserSpeedMID.pdf' %}" target="_blank" class="btn btn-outline-secondary me-3 animate-up-2">MID</a>
                                                        <a href="{% static 'assets/pdf/LaserSpeedProM.pdf' %}" target="_blank" class="btn btn-outline-secondary me-3 animate-up-2">ProM</a>
                                                        <a href="{% static 'assets/pdf/LaserSpeedPro.pdf' %}" target="_blank" class="btn btn-outline-secondary me-3 animate-up-2">Pro</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-4 mb-5 mb-lg-0">
                                        <div class="card shadow">
                                            <img src= "{% static 'assets/img/lump.png' %}" alt="lump" class="card-img-top rounded-top">
                                            <div class="card-body">
                                                <h3 class="h5 card-title mt-3">LN3000 Series</h3>
                                                <p class="card-text">Highest Accuracy Three-Axis Detect Lump and Neckdown Detectors.
                                                    Quickly, reliably detect and locate product flaws, such as lump and neckdowns, before they become costly production problems to ensure maximum quality control.</p>
                                                <a href="{% static 'assets/pdf/LN3000.pdf' %}" target="_blank" class="btn btn-outline-secondary me-3 animate-up-2">Learn More</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-4 mb-5 mb-lg-0">
                                        <div class="card shadow">
                                            <img src= "{% static 'assets/img/ultrasonic.png' %}" alt="ultrasonic" class="card-img-top rounded-top">
                                            <div class="card-body">
                                                <h3 class="h5 card-title mt-3">UltraScan Pro</h3>
                                                <p class="card-text">Setting the Highest Standard in Ultrasonic Wall Thickness and Concentricity Measurements.
                                                    Increase production efficiencies and reduce material costs by better controlling product wall thickness and concentricity.</p>
                                                <a href="{% static 'assets/pdf/UltraScanPipeTube.pdf' %}" target="_blank" class="btn btn-outline-secondary me-3 animate-up-2">Learn More</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-4 mb-5 mb-lg-0">
                                        <div class="card shadow">
                                            <img src= "{% static 'assets/img/accunet.png' %}" alt="accunet" class="card-img-top rounded-top">
                                            <div class="card-body">
                                                <h3 class="h5 card-title mt-3">AccuNet QC Pro</h3>
                                                <p class="card-text">Economical, User-Friendly Off-Line Part Measurement System.
                                                    Quickly, easily setup an off-line diameter and ovality measurement system for quality control of your part samples.</p>
                                                <a href="{% static 'assets/pdf/AccuNetQCPro.pdf' %}" target="_blank" class="btn btn-outline-secondary me-3 animate-up-2">Learn More</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-4 mb-5 mb-lg-0">
                                        <div class="card shadow">
                                            <img src= "{% static 'assets/img/sparktest.png' %}" alt="Spark Testers" class="card-img-top rounded-top">
                                            <div class="card-body">
                                                <h3 class="h5 card-title mt-3">Spark Testing</h3>
                                                <p class="card-text">Continuously, Quickly Detect Insulation Faults to Produce the Highest Quality Products.
                                                    For high-speed production lines, spark testing is a critical component of the cable-making process for the on-line detection of faults in cable insulation such as voids and pin holes.
                                                    Beta LaserMike Spark Testers enable you check wire and cable insulation quickly and accurately, without slowing down your process. Catch wire and cable insulation faults early to avoid costly downtime and production losses.</p>
                                                <a href="{% static 'assets/pdf/sparkTester.pdf' %}" target="_blank" class="btn btn-outline-secondary me-3 animate-up-2">Learn More</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Cimteq
                        </button>
                      </h2>
                      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionProducts">
                        <div class="accordion-body">
                            <div class="row mb-5">
                                <div class="col-12 col-md-6 col-lg-4 mb-5 mb-lg-0">
                                    <div class="card shadow">
                                        <img src= "{% static 'assets/img/cable-builder-enterprise.png' %}" alt="CableBuilder Enterprise" class="card-img-top rounded-top">
                                        <div class="card-body">
                                            <h3 class="h5 card-title mt-3">CableBuilder Enterprise</h3>
                                            <p class="card-text">A cable design software application for every type of cable, from standard LV cables, to fiber-optic cables, to subsea cables.
                                                The cable builder software was born out of the demand within the cable industry to simplify the complex management of cable design data from the 
                                                initial design concept all the way through to delivering the full bill-of-materials directly to the ERP system.</p>
                                            <a href="https://cimteq.com/en/cablebuilder/cablebuilder-enterprise/" target="_blank" class="btn btn-outline-secondary me-3 animate-up-2">Learn More</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-4 mb-5 mb-lg-0">
                                    <div class="card shadow">
                                        <img src= "{% static 'assets/img/cable-builder-go.png' %}" alt="CableBuilder Go" class="card-img-top rounded-top">
                                        <div class="card-body">
                                            <h3 class="h5 card-title mt-3">CableBuilder Go</h3>
                                            <p class="card-text">Cloud-hosted software ideally suited for smaller, single-factory manufacturers to design, cost and quote wire and cables of all types.</p>
                                            <p class="card-text">CableBuilder Go’s power and flexibility enables our clients to:</p>
                                                <li>React quickly to customer demands</li>
                                                <li>Control and optimise material and production costs</li>
                                                <li>Protect financial margins</li>
                                                <li>Avoid over-pricing or under-pricing products</li>
                                                <li>Produce professional and accurate customer quotations</li>
                                                <li>Reduce rework and scrap</li>
                                                <li>Replace an in-house system</li>
                                                <li>Access product information on-demand and from anywhere in the world.</li>
                                            <a href="https://cimteq.com/en/cablebuilder/cablebuilder-go/" target="_blank" class="btn btn-outline-secondary mt-2 me-3 animate-up-2">Learn More</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-4 mb-5 mb-lg-0">
                                    <div class="card shadow">
                                        <img src= "{% static 'assets/img/cable-mes.png' %}" alt="Cable MES" class="card-img-top rounded-top">
                                        <div class="card-body">
                                            <h3 class="h5 card-title mt-3">Cable MES</h3>
                                            <p class="card-text"> Manufacturing Execution System (MES) specifically for the wire and cable manufacturing industry. Offering a rapid return on investment, CableMES maximises plant production, 
                                                improves product quality, manages inventory, and ensures on-time delivery.</p>
                                            <a href="https://cimteq.com/en/cablemes/" target="_blank" class="btn btn-outline-secondary me-3 animate-up-2">Learn More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>                        
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Pwm
                        </button>
                      </h2>
                      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample1">
                        <div class="accordion-body">
                            <div class="row mb-5">
                                <div class="col-12 col-md-6 col-lg-4 mb-5 mb-lg-0">
                                    <div class="card shadow">
                                        <img src= "{% static 'assets/img/M10.jpg' %}" alt="M10" class="card-img-top rounded-top">
                                        <div class="card-body">
                                            <h3 class="h5 card-title mt-3">M10</h3>
                                            <p class="card-text">The M10 is a lightweight, manually operated machine that will permanently 
                                                weld most non-ferrous metals within the range 0.10 - 0.50mm. Designed to fit comfortably in 
                                                the hand, the machine is easily operated by a light trigger action. No set up time is required, 
                                                and the cold weld is completed in seconds. </p>
                                            <a href="https://coldpressurewelding.com/index.php/products/fine-wire/m10" target="_blank" class="btn btn-outline-secondary me-3 animate-up-2">Learn More</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-4 mb-5 mb-lg-0">
                                    <div class="card shadow">
                                        <img src= "{% static 'assets/img/BM10.jpg' %}" alt="BM10" class="card-img-top rounded-top">
                                        <div class="card-body">
                                            <h3 class="h5 card-title mt-3">BM10</h3>
                                            <p class="card-text">The BM10 is a small, manually operated machine that can be used either on a workbench or on a mobile trolley. (Trolley can be supplied.)
                                                Light hand pressure on the operating lever completes the weld in seconds.The machine uses an industry standard die and has the capacity to weld most 
                                                non-ferrous metals within the range 0.10 - 0.60mm. Thanks to its uncomplicated design, the BM10 is very strong and simple to operate. Also, due to the 
                                                few component parts used, the machine is low maintenance and extremely reliable.</p>
                                            <a href="https://coldpressurewelding.com/index.php/products/fine-wire/bm10" target="_blank" class="btn btn-outline-secondary me-3 animate-up-2">Learn More</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-4 mb-5 mb-lg-0">
                                    <div class="card shadow">
                                        <img src= "{% static 'assets/img/M30.jpg' %}" alt="M30" class="card-img-top rounded-top">
                                        <div class="card-body">
                                            <h3 class="h5 card-title mt-3">M30</h3>
                                            <p class="card-text">The portable, manually operated M30 is the smallest machine manufactured to date that can weld non-ferrous wire or strip 
                                                within the range 0.30 - 1.80mm. The M30 uses industry standard dies and the machine is operated by a simple scissor action that completes the 
                                                weld in seconds. While designed to be hand-held (the machine is perfectly balanced for ease of use) the M30 can be fixed to a bench in the work area if required. </p>
                                            <a href="https://coldpressurewelding.com/index.php/products/medium-wire/m30" target="_blank" class="btn btn-outline-secondary me-3 animate-up-2">Learn More</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-4 mb-5 mb-lg-0">
                                    <div class="card shadow">
                                        <img src= "{% static 'assets/img/BM30.jpg' %}" alt="BM30" class="card-img-top rounded-top">
                                        <div class="card-body">
                                            <h3 class="h5 card-title mt-3">BM30</h3>
                                            <p class="card-text">The BM30 can be used mounted on either a workbench or a mobile trolley. (Trolley can be supplied.) The machine is manually operated, using light 
                                                pressure on the operating lever, which completes the weld in seconds. The BM30 uses an industry standard die and can weld most non-ferrous metals in wire or strip 
                                                form, from 0.30 - 1.80mm. </p>
                                            <a href="https://coldpressurewelding.com/index.php/products/medium-wire/bm30" target="_blank" class="btn btn-outline-secondary me-3 animate-up-2">Learn More</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-4 mb-5 mb-lg-0">
                                    <div class="card shadow">
                                        <img src= "{% static 'assets/img/M101.jpg' %}" alt="M101" class="card-img-top rounded-top">
                                        <div class="card-body">
                                            <h3 class="h5 card-title mt-3">M101</h3>
                                            <p class="card-text">The M101 can be used on a workbench or on a trolley. (Trolley can be supplied.) It is manually operated and, using the industry standard die, 
                                                will weld most non-ferrous metals in wire or strip form within the range 1.00 - 3.60mm (copper) and 1.00 - 5.00mm (EC aluminium).
                                            <br>A strong, heavy-duty machine, the M101 is simple to operate and, due to the low number of component parts, easy to maintain. The multiple upset action is achieved by depressing the 
                                            handle four or five times, which completes the weld in seconds.</p>
                                            <a href="https://coldpressurewelding.com/products/medium-wire/m101" target="_blank" class="btn btn-outline-secondary me-3 animate-up-2">Learn More</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-4 mb-5 mb-lg-0">
                                    <div class="card shadow">
                                        <img src= "{% static 'assets/img/P101.jpg' %}" alt="P101" class="card-img-top rounded-top">
                                        <div class="card-body">
                                            <h3 class="h5 card-title mt-3">P101</h3>
                                            <p class="card-text">The P101 is mounted on a specially designed trolley which slopes towards the operator, providing a full view of the weld area and ease of operation. The machine uses 
                                                industry standard dies and will weld most non-ferrous metals in wire or strip form (depending on hardness) within the range 1.00 - 5.00mm. The P101 operation is fully pneumatic, so the 
                                                machine requires only a compressed air supply to activate it.
                                            </p>
                                            <a href="https://coldpressurewelding.com/index.php/products/medium-wire/p101" target="_blank" class="btn btn-outline-secondary me-3 animate-up-2">Learn More</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-4 mb-5 mb-lg-0">
                                    <div class="card shadow">
                                        <img src= "{% static 'assets/img/HP100.jpg' %}" alt="HP100" class="card-img-top rounded-top">
                                        <div class="card-body">
                                            <h3 class="h5 card-title mt-3">HP100</h3>
                                            <p class="card-text">The welding head of the HP100, made of cast steel for extra strength and stability, is mounted on a specially designed sloping trolley that gives a clear 
                                                view of the weld area. On request, the machine can be supplied with a detachable welding head. This enables the operator to weld in areas where space is very limited, at a 
                                                strander lay plate, for example, or inside a spooler casing.
                                                Powered by an air/hydraulic intensifier, the HP100 will weld most non-ferrous materials in wire or strip form, within the range 1.00mm to 5.00mm, depending on the hardness of the
                                                 material. The machine is easily activated by hand or foot and, using the multiple upset technique, will complete the cold pressure weld quickly and efficiently.</p>
                                            <a href="https://coldpressurewelding.com/index.php/products/medium-wire/hp100" target="_blank" class="btn btn-outline-secondary me-3 animate-up-2">Learn More</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-4 mb-5 mb-lg-0">
                                    <div class="card shadow">
                                        <img src= "{% static 'assets/img/HP200.jpg' %}" alt="HP200" class="card-img-top rounded-top">
                                        <div class="card-body">
                                            <h3 class="h5 card-title mt-3">HP200</h3>
                                            <p class="card-text">A larger, more powerful version of the HP100, the HP200 is equipped with a solid steel welding head capable of welding non-ferrous wire and strip 
                                                from 2.00mm to 6.50mm. Mounted on a trolley for convenience and ease of use, the HP200 is powered by an air/hydraulic intensifier and easily activated by a foot pedal.
                                            <br>Using the proven multiple upset technique, the machine will cold weld the materials in seconds to provide a bond which is as strong as the parent material.</p>
                                            <a href="https://coldpressurewelding.com/index.php/products/medium-wire/hp200" target="_blank" class="btn btn-outline-secondary me-3 animate-up-2">Learn More</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-4 mb-5 mb-lg-0">
                                    <div class="card shadow">
                                        <img src= "{% static 'assets/img/EP500.jpg' %}" alt="EP500" class="card-img-top rounded-top">
                                        <div class="card-body">
                                            <h3 class="h5 card-title mt-3">EP500</h3>
                                            <p class="card-text">The EP500 is an electro-pneumatic, free-standing rod welder. It will cold weld most non-ferrous metals, in wire or strip form, within the range 5.00 - 12.50mm 
                                                (copper), 5.00 - 15.00mm (aluminium) depending on the hardness of the material. The EP500 is equipped with an advanced, user-friendly programmable controller (PLC), which takes 
                                                the pneumatic system through the required welding sequence and monitors the system for faults.
                                            <br>This heavy-duty machine is pneumatically powered and requires a compressed air supply and a single phase electrical supply of between 100 and 240 volts (the specific voltage 
                                            requirement is stated at the time of ordering). No hydraulics are used with the EP500. A co-axial thrust technique is applied in the welding process, with independent control over the 
                                            grip and upset movements through an arrangement of pneumatic cylinders. Fully automatic deflashing is incorporated into the system for removal of the weld burr.</p>
                                            <a href="https://coldpressurewelding.com/index.php/products/rod/ep500" target="_blank" class="btn btn-outline-secondary me-3 animate-up-2">Learn More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingFour">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                              Estun
                          </button>
                        </h2>
                        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionProducts">
                          <div class="accordion-body">
                            <div class="row mb-5">
                                <div class="col-12 col-md-6 col-lg-4 mb-5 mb-lg-0">
                                    <div class="card shadow">
                                        <img src= "{% static 'assets/img/EMJ.jpg' %}" alt="EMJ" class="card-img-top rounded-top">
                                        <div class="card-body">
                                            <h3 class="h5 card-title mt-3">EMJ</h3>
                                            <h4 class="h6 card-title mt-3">Nom. speed 3000 RPM<br>Max. speed 5000 RPM</h4>
                                                <h4 class="h6 card-title mt-3">Features</h4>
                                                    <li>Medium inertia</li>
                                                    <li>Peak torque up to 300% of rated torque</li>
                                                    <li>Two models (0.05kW~0,1kW, with or without brake, etc.)</li>
                                                    <li>Mounted with 17 bits serial encoder</li>
                                                <h4 class="h6 card-title mt-3">Application</h4>
                                                    <li>SMM (surface mounting machine)</li>
                                                    <li>PCB punch machine</li>
                                                    <li>Robot arm</li>
                                                    <li>Handling machinery</li>
                                                    <li>Textile machinery</li>
                                            <a href="{% static 'assets/pdf/EMJ.pdf' %}" target="_blank" class="btn btn-outline-secondary mt-2 me-3 animate-up-2">Learn More</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-4 mb-5 mb-lg-0">
                                    <div class="card shadow">
                                        <img src= "{% static 'assets/img/EM3A.jpg' %}" alt="EM3A" class="card-img-top rounded-top">
                                        <div class="card-body">
                                            <h3 class="h5 card-title mt-3">EM3A</h3>
                                            <h4 class="h6 card-title mt-3">Nom. speed 3000 RPM<br>Max. speed 6000 RPM</h4>
                                                <h4 class="h6 card-title mt-3">Features</h4>
                                                    <li>High performance with lower cogging torque</li>
                                                    <li>High dynamic with max. 6000rpm speed and up to 350% overload</li>
                                                    <li>High accuracy with 20-bit/23-bit resolution encoder</li>
                                                    <li>High protection level with IP65</li>
                                            <a href="{% static 'assets/pdf/EM3A.pdf' %}" target="_blank" class="btn btn-outline-secondary mt-2 me-3 animate-up-2">Learn More</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-4 mb-5 mb-lg-0">
                                    <div class="card shadow">
                                        <img src= "{% static 'assets/img/EMG.jpg' %}" alt="EMG" class="card-img-top rounded-top">
                                        <div class="card-body">
                                            <h3 class="h5 card-title mt-3">EMG</h3>
                                            <h4 class="h6 card-title mt-3">Nom. speed 2000 RPM<br>Max. speed 3000 RPM</h4>
                                                <h4 class="h6 card-title mt-3">Features</h4>
                                                    <li>Can be used to drive the feed shaft of various machinery</li>
                                                    <li>Various models (1.0kW~5.0kW, with brake, etc.)</li>
                                                    <li>Mounted with 20/23 bits serial encoder</li>
                                                    <li>Standard configuration is IP65</li>
                                                <h4 class="h6 card-title mt-3">Application</h4>
                                                    <li>Machining tools</li>
                                                    <li>Machinery Handling</li>
                                                    <li>Food processing machinery</li>
                                                    <li>Textile machinery</li>
                                            <a href="{% static 'assets/pdf/EMG.pdf' %}" target="_blank" class="btn btn-outline-secondary mt-2 me-3 animate-up-2">Learn More</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-4 mb-5 mb-lg-0">
                                    <div class="card shadow">
                                        <img src= "{% static 'assets/img/EML.jpg' %}" alt="EML" class="card-img-top rounded-top">
                                        <div class="card-body">
                                            <h3 class="h5 card-title mt-3">EML</h3>
                                            <h4 class="h6 card-title mt-3">Nom. speed 1000 RPM<br>Max. speed 1500 RPM</h4>
                                                <h4 class="h6 card-title mt-3">Features</h4>
                                                    <li>Can be used to drive the feed shaft of various machinery</li>
                                                    <li>Various models (1.0kW~4.0kW, with brake, etc.)</li>
                                                    <li>Mounted with 20/23 bits serial encoder</li>
                                                    <li>Standard configuration is IP65</li>
                                                <h4 class="h6 card-title mt-3">Application</h4>
                                                    <li>Machining tools</li>
                                                    <li>Machinery Handling</li>
                                                    <li>Food processing machinery</li>
                                                    <li>Textile machinery</li>
                                            <a href="{% static 'assets/pdf/EML.pdf' %}" target="_blank" class="btn btn-outline-secondary mt-2 me-3 animate-up-2">Learn More</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-4 mb-5 mb-lg-0">
                                    <div class="card shadow">
                                        <img src= "{% static 'assets/img/Pronet.jpg' %}" alt="Pronet" class="card-img-top rounded-top">
                                        <div class="card-body">
                                            <h3 class="h5 card-title mt-3">Pronet Plus</h3>
                                                <li>Various models, wide power range : 50W~5kW</li>
                                                <li>Multiple feedback options : 17bits / 20bits /23bits serials encoder</li>
                                                <li>Power supply: single phase/three phase 200VAC, three phase 400VAC</li>
                                                <li>Communication fieldbus: Modbus, CANopen</li>
                                                <li>Frequency response 1.6kHz</li>
                                                <li>Current feed-forward and acceleration feed-forward function</li>
                                                <li>Online real time load inertia inspecting and auto-tuning function</li>
                                                <li>Low frequency vibration suppression function</li>
                                                <li>High performance under low rigid environment</li>
                                                <li>Dynamic electronic gear ratio switching function</li>
                                                <li>Homing function available under position control mode</li>
                                                <li>CE certified</li>
                                            <a href="{% static 'assets/pdf/Pronet.pdf' %}" target="_blank" class="btn btn-outline-secondary mt-2 me-3 animate-up-2">Learn More</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-4 mb-5 mb-lg-0">
                                    <div class="card shadow">
                                        <img src= "{% static 'assets/img/ED3M.jpg' %}" alt="ED3M" class="card-img-top rounded-top">
                                        <div class="card-body">
                                            <h3 class="h5 card-title mt-3">ED3M</h3>
                                                <li>Various models, wide power range : 50W~1kW</li>
                                                <li>Integrated servo drive to control 2 or 3 axes</li>
                                                <li>17bit, 20bit & 23bit Incremental or Absolute encoder</li>
                                                <li>Space saving, easy wiring, cost effective</li>
                                                <li>Common DC bus</li>
                                                <li>EtherCat ED3M-0404AEA</li>
                                                <li>CANOpen ED3M-101010AMA ED3M-1010AMA</li>
                                                <li>The maximum power is referred to each individual axis</li>
                                                <li>All devices automatically recognize the 17, 20 and 23 bit encoders</li>
                                                <li>CE certified</li>
                                            <a href="{% static 'assets/pdf/ED3M.pdf' %}" target="_blank" class="btn btn-outline-secondary mt-2 me-3 animate-up-2">Learn More</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-4 mb-5 mb-lg-0">
                                    <div class="card shadow">
                                        <img src= "{% static 'assets/img/ETS.jpg' %}" alt="ETS" class="card-img-top rounded-top">
                                        <div class="card-body">
                                            <h3 class="h5 card-title mt-3">ETS Plus</h3>
                                                <li>Output power : 1kW per Axis</li>
                                                <li>Multiple feedback options : 17bits / 20bits serials encoder</li>
                                                <li>Power supply: three phase 200VAC</li>
                                                <li>CANopen communication</li>
                                                <li>Multi-axis synchronization</li>
                                                <li>High speed, high precision control</li>
                                                <li>Current and acceleration feedforward control</li>
                                                <li>3 times overload capacity</li>
                                                <li>Instruction smoothing and inertia identification</li>
                                                <li>CE certified</li>
                                            <a href="{% static 'assets/pdf/ETS.pdf' %}" target="_blank" class="btn btn-outline-secondary mt-2 me-3 animate-up-2">Learn More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                          </div>
                        </div>
                      </div>
                </div>            
            </div>
        </section>
        <!-- End cards of products -->
        <section class="section section-lg bg-gray-200">
            <figure class="position-absolute top-0 left-0 w-100 d-none d-md-block mt-n3">
                <svg class="fill-gray-200" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1920 43.4" style="enable-background:new 0 0 1920 43.4;" xml:space="preserve">
                   <path d="M0,23.3c0,0,405.1-43.5,697.6,0c316.5,1.5,108.9-2.6,480.4-14.1c0,0,139-12.2,458.7,14.3 c0,0,67.8,19.2,283.3-22.7v35.1H0V23.3z"></path>
                </svg>
             </figure>
             {% include 'includes/advert.html' %}
        </section>
    </main>

{% endblock content %}