{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
    <main>
        {% include 'includes/navigation.html' %}
        <body style="margin: 0; background: #000000">
            <input type="hidden" id="anPageName" name="page" value="products" />
            <div class="mt-8 container-center-horizontal">
              <div class="products screen">
                <div class="overlap-group2">
                  <img class="vector-1" src= "{% static 'assets/img/vector-1.svg' %}" alt="Vector 1" />
                  <h1 class="title banner-font">Explore Some Of Our Products...</h1>
                  <div class="frame-3866"><div class="ndc-beta-laser-mike">NDC -Beta LaserMike</div></div>
                  <div class="frame-3867"><div class="cimteq dmsans-bold-white-26px">Cimteq</div></div>
                  <div class="frame-3868"><div class="pwm dmsans-bold-white-26px">PWM</div></div>
                  <div class="frame-3869"><div class="estun dmsans-bold-white-26px">Estun</div></div>
                  <div class="frame-3850">
                    <img class="rectangle-275" src= "{% static 'assets/img/rectangle-275-15@2x.png' %}" alt="Rectangle 275" />
                    <div class="accu-scan-6000-4-axis dmsans-bold-white-30px">AccuScan 6000<br />4-Axis</div>
                  </div>
                  <div class="frame-3851">
                    <img class="rectangle-275-1" src= "{% static 'assets/img/rectangle-275-18@2x.png' %}" alt="Rectangle 275" />
                    <div class="accu-scan-50002-axis dmsans-bold-white-30px">AccuScan 5000<br />2-Axis</div>
                  </div>
                  <div class="frame-3852">
                    <img class="rectangle-275-1" src= "{% static 'assets/img/rectangle-275-20@2x.png' %}" alt="Rectangle 275" />
                    <div class="ultrasonic-wall-measurements dmsans-bold-white-32px">Ultrasonic Wall <br />Measurements</div>
                  </div>
                  <div class="frame-3853">
                    <img class="rectangle-275" src= "{% static 'assets/img/rectangle-275-23@2x.png' %}" alt="Rectangle 275" />
                    <div class="process-control-systems dmsans-bold-white-32px">Process Control<br />Systems</div>
                  </div>
                  <p class="at-machinery-techniq">
                    At Machinery Techniques, we understand that having access to the right equipment is crucial to your business
                    success. That&#39;s why we offer a wide range of products that are designed to meet the needs of various
                    industries. <br /><br />From cutting-edge machinery to industry-standard equipment, we have everything you
                    need to improve your operations and increase efficiency. Our team of experts is dedicated to providing
                    exceptional support to help you find the right product that meets your unique needs. <br /><br />Read on to
                    learn more about our products and how we can help your business thrive.
                  </p>
                </div>
                <div class="frame-container">
                  <div class="frame-38">
                    <img class="rectangle-275" src= "{% static 'assets/img/rectangle-275-17@2x.png' %}" alt="Rectangle 275" />
                    <div class="active-scan dmsans-bold-white-32px">ActiveScan</div>
                  </div>
                  <div class="frame-38-1">
                    <img class="rectangle-275-1" src= "{% static 'assets/img/rectangle-275-22@2x.png' %}" alt="Rectangle 275" />
                    <div class="center-scan-2010 dmsans-bold-white-30px">CenterScan<br />2010</div>
                  </div>
                  <div class="frame-3856">
                    <img class="rectangle-275-1" src= "{% static 'assets/img/rectangle-275-25@2x.png' %}" alt="Rectangle 275" />
                    <div class="lump-detection dmsans-bold-white-32px">Lump<br />Detection</div>
                  </div>
                  <div class="frame-3857">
                    <img class="rectangle-275" src= "{% static 'assets/img/rectangle-275-26@2x.png' %}" alt="Rectangle 275" />
                    <div class="on-gauge-vacuum-display dmsans-bold-white-32px">On Gauge <br />Vacuum Display</div>
                  </div>
                </div>
                <div class="frame-container-1">
                  <div class="frame-38">
                    <img class="rectangle-275" src= "{% static 'assets/img/rectangle-275-16@2x.png' %}" alt="Rectangle 275" />
                    <div class="accu-net-qc-pro dmsans-bold-white-32px">AccuNet QC <br />Pro</div>
                  </div>
                  <div class="frame-38-1">
                    <img class="rectangle-275-1" src= "{% static 'assets/img/rectangle-275-19@2x.png' %}" alt="Rectangle 275" />
                    <div class="bench-mike-pro dmsans-bold-white-32px">BenchMike <br />Pro</div>
                  </div>
                  <div class="frame-3862">
                    <img class="rectangle-275-1" src= "{% static 'assets/img/rectangle-275-21@2x.png' %}" alt="Rectangle 275" />
                    <div class="laser-speed-pro dmsans-bold-white-32px">LaserSpeed <br />Pro</div>
                  </div>
                  <div class="frame-3863">
                    <img class="rectangle-275" src= "{% static 'assets/img/rectangle-275-24@2x.png' %}" alt="Rectangle 275" />
                    <div class="cap-scan dmsans-bold-white-32px">CapScan</div>
                  </div>
                </div>
                <div class="group-2380">
                  <div class="overlap-group1">
                    <div class="banner-holder"></div>
                    <p class="banner-title banner-font">
                      Did you know we<br />also do Software?
                    </p>
                    <div class="banner-phone">
                      <div class="overlap-group"><img class="phone-image" src= "{% static 'assets/img/phone-image-1.png' %}" alt="Mask group" /></div>
                    </div>
                    <div class="banner-button"><div class="visit dmsans-bold-white-20px">Visit</div></div>
                    <img class="banner-pin" src= "{% static 'assets/img/banner-pin@2x.png' %}" alt="untitled 7" />
                  </div>
                </div>
                <footer class="footer">
                  <div class="flex-col">
                    <img
                      class="new-mt-logo-transparent-1-1"
                      src= "{% static 'assets/img/new-mt-logo---transparent-1-2.png"
                      alt="New MT Logo - transparent 1"
                    />
                    <div class="copyright-container">
                      <img class="vaadincopyright" src= "{% static 'assets/img/vaadin-copyright-3.svg' %}" alt="vaadin:copyright" />
                      <div class="copyright-zenix-ion-2023 dmsans-normal-wild-sand-12px">Copyright ZenixION 2023</div>
                    </div>
                  </div>
                  <div class="flex-col-1">
                    <div class="learn-more dmsans-bold-white-20px">Learn More</div>
                    <div class="flex-col-item dmsans-normal-wild-sand-15px">About</div>
                    <div class="flex-col-item dmsans-normal-wild-sand-15px">Services</div>
                    <div class="flex-col-item dmsans-normal-wild-sand-15px">Products</div>
                  </div>
                  <p class="contact-joshua-pan dmsans-bold-white-20px">
                    Contact:<br /><br />Joshua Panettieri<br />Service Engineer<br />M. +61 (0)430-016527<br />E.
                    joshua@mach-tech.com.au
                  </p>
                </footer>
              </div>
            </div>
        </body>
    </main>

{% endblock content %}