body{
    font-family: 'FoglihtenNo07', sans-serif;
    font-family: 'FoglihtenNo07calt', sans-serif;
}
.bg-custom{
    background-color: #78826d!important;
}
.bg-custom-light{
    background-color: #edefec!important;
}

.fill-custom {
    fill: #edefec; }

img{
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.text-eucalypt{
    color: #78826d!important;
}

.text-pale{
    color: #edefec!important;
}

.header-wrapper {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: auto;
    grid-column-gap: 30px;
    align-items: center;
  }
  
  .header-wrapper h1 {
    grid-column: 1 / span 1;
  }
  
  .header-wrapper img {
    grid-column: 2 / span 1;
    justify-self: end;
  }
  
  .header-wrapper h5 {
    grid-column: 1 / -1;
  }


.display-1,
.display-2,
.display-3,
.display-4{
  font-weight: 600;
  color: #edefec; }

.display-2{
font-size: calc(3rem + 2.7vw)!important;
margin-right: 50%;
}

.wide{
    margin-right: 0%!important;
    font-weight: 600;
    font-size: calc(3rem + 2.7vw)!important;
}

.display-medium{
    color: #edefec!important;
    font-size: calc(2rem + 2.7vw)!important;
    }

.display-3{
    font-size: calc(2rem + 2.7vw);
    }

.h1{
    font-size: 4rem;
}

.lead{
font-size: x-large;
margin-left: 30%;
}

.para{
    font-weight: 300;
    font-size: x-large;
    font-family:"Nunito Sans", sans-serif;
}

.plain-h{
    font-weight: 600;
    font-size: xx-large;
    font-family:"Nunito Sans", sans-serif;
}

.plain-h2{
    font-weight: 600;
    font-size: x-large;
    font-family:"Nunito Sans", sans-serif;
}

.huge{
    font-size: 4rem;
}

.text-muted {
color: #edefec !important;
}

body{
    background-color: #edefec!important;
}

.navbar-brand img{
    height: 65px;
}

.nav-link{
    color: #78826d!important;
    font-size:x-large;
}

.nav-link:hover{
    color: #edefec;
    border: 2px solid #78826d!important;
    border-radius: 10px;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(23, 31, 56, 0.075);
}
.navbar-collapse {
    width: auto !important;
    height: auto !important;
    background-color: #edefec !important;
    right:0!important;
    left: auto!important;
    top: calc(100% - 25%) !important;
  }

  .navbar-dark {
    color: #78826d!important;
  }
  .navbar-toggler{
    color: #78826d!important;
  } 
  .navbar-toggler-icon{
    background-image: url(hamburger.png) !important;
  }

  .btn{
    font-family:"Nunito Sans", sans-serif;
  }

  .btn-primary {
    color: #edefec;
    background-color: #78826d;
    border-color: #78826d;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(23, 31, 56, 0.075);
}

.btn-primary:hover {
    color: #78826d;
    background-color: #edefec;
    border-color: #78826d;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(23, 31, 56, 0.075);
}

  .btn-outline-primary:hover {
    color: #edefec!important;
    background-color: #78826d!important;
    border-color: #78826d!important;
  }

  .btn-outline-secondary{
    color: #78826d!important;
    background-color: #edefec!important;
    border-color: #edefec!important;
  }

  .btn-outline-secondary:hover{
    color: #edefec!important;
    background-color: #78826d!important;
    border-color: #edefec!important;
  }

  .btn-tertiary {
    color: #78826d!important;
    background-color: #d0d4cc !important;
    border-color: #edefec!important;
  }

  .btn-tertiary:hover {
    color: #edefec!important;
    background-color: #78826d !important;
    border-color: #edefec!important;
  }
  
  label{
    color: #78826d!important;
  }

  .text-md-left {
    margin-left: 20px; /* create space to the right of the image */
  } 

  .row:after {
    content: "";
    display: table;
    clear: both;
  }


.timeline-item .img-rh {
    position: absolute;
    top: 0;
    right: -300px;
    max-height: 250px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  
  .timeline-item:hover .img-rh {
    opacity: 1;
  }

  .timeline-item .img-lh {
    position: absolute;
    top: 0;
    left: -300px;
    max-height: 250px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  
  .timeline-item:hover .img-lh {
    opacity: 1;
  }