body{
    font-family: 'FoglihtenNo07', sans-serif;
    font-family: 'FoglihtenNo07calt', sans-serif;
}
.bg-custom{
    background-color: #78826d!important;
}
.bg-custom-light{
    background-color: #edefec!important;
}

.fill-custom {
    fill: #edefec; }

img{
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.text-eucalypt{
    color: #78826d!important;
}

.text-pale{
    color: #edefec!important;
}

.nav-link{
    color: #78826d!important;
    font-size:x-large;
}

.display-1,
.display-2,
.display-3,
.display-4 {
  font-weight: 600;
  color: #edefec!important; }

.display-2{
font-size: calc(3rem + 2.7vw);
margin-right: 50%;
}

.display-3{
    font-size: calc(2rem + 2.7vw);
    }

.lead{
font-size: x-large;
margin-left: 30%;
}

.text-muted {
color: #edefec !important;
}

body{
    background-color: #edefec!important;
}

.navbar-brand img{
    height: 65px;
}

.navbar-collapse {
    width: auto !important;
    height: auto !important;
    background-color: #edefec !important;
    right:0!important;
    left: auto!important;
    top: calc(100% - 25%) !important;
  }

  .navbar-dark {
    color: #78826d!important;
  }
  .navbar-toggler{
    color: #78826d!important;
  } 
  .navbar-toggler-icon{
    background-image: url(hamburger.png) !important;
  }

  .btn-outline-primary:hover {
    color: #edefec!important;
    background-color: #78826d!important;
    border-color: #78826d!important;
  }

  .btn-outline-secondary{
    color: #78826d!important;
    background-color: #edefec!important;
    border-color: #edefec!important;
  }

  .btn-outline-secondary:hover{
    color: #edefec!important;
    background-color: #78826d!important;
    border-color: #edefec!important;
  }
  